In [1]:
!bash /home/azureuser/cloudfiles/code/blobfuse/blobfuse_raadsinformatie.sh

In [2]:
import sys
sys.path.append("..")

# Select where to run notebook: "azure" or "local"
my_run = "azure"

import my_secrets as sc
import settings as st

if my_run == "azure":
    import config_azure as cf
elif my_run == "local":
    import config as cf

### Text truncation
- check how many docs exceed max

In [3]:
import pandas as pd
df = pd.read_pickle(f"{cf.output_path}/txtfiles.pkl")

In [17]:
print(f"{len(df.loc[df['token_count']>4096])} out of {len(df)} ({round(len(df.loc[df['token_count']>4096])/len(df)*100, 2)}%) docs exceed max window length of mistral (4096) ")
print(f"{len(df.loc[df['token_count']>1000])} out of {len(df)} ({round(len(df.loc[df['token_count']>1000])/len(df)*100, 2)}%) docs are longer than 1000 tokens")

1964 out of 26704 (7.35%) docs exceed max window length of mistral (4096)
7831 out of 26704 (29.33%) docs are longer than 1000 tokens

In [20]:
display(df.loc[df['token_count']>1000].describe().drop(columns=['id']))

         token_count  clean_tokens_count    num_pages
count    7831.000000         7831.000000  7831.000000
mean     5867.532499         2937.387435    13.957732
std     12054.449388         6257.314713    25.415472
min      1001.000000          439.000000     1.000000
25%      1305.000000          660.000000     4.000000
50%      1905.000000          954.000000     5.000000
75%      4128.000000         2089.500000    11.000000
max    275597.000000       143782.000000   502.000000